<div class="ingredient">
  <div class="ingredient-add" (click)="onClickAdd()">Add</div>
  <div class="ingredient-title">{{ name }}</div>
  <div class="ingredient-count">x {{ count }}</div>
  <div class="ingredient-remove" (click)="onClickDelete()">Delete</div>
</div>

