<div class="container">
  <div class="col-50">
    <div class="ingredients-wrap">
      <div class="ingredients-title">
        Ingredients
      </div>
      <div class="ingredients-list">
        <app-ingredient
          *ngFor="let ingredient of ingredients; let i = index;"
          [name]="ingredient.name"
          [count]="ingredient.count"
          (add)="addIngredient(i)"
          (delete)="deleteIngredient(i)"
        ></app-ingredient>
      </div>
    </div>
  </div>
  <div class="col-50">
    <div class="burger-wrap">
      <div class="burger-title">
        Burger
      </div>
      <div class="Burger">
        <div class="BreadTop">
          <div class="Seeds1"></div>
          <div class="Seeds2"></div>
        </div>

        <app-burger-filling
          *ngFor="let ingredient of ingredients; let i = index;"
          [className]="ingredient.name"
          [count]="ingredient.count"
        ></app-burger-filling>

        <div class="BreadBottom"></div>
      </div>
      <div class="price">
        Price:
      </div>
    </div>
  </div>
</div>

