@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  min-height: 100%;
}
.container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 960px;
  margin: auto;
}
.col-50 {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
}
